<h3>Warmup</h3>
<div>
	<p>Choose category:</p>
	Select
  	<select name="categories">
  		<option value="volvo">Any</option>
	    <option value="volvo">Spring</option>
	    <option value="saab">Java</option>
	    <option value="fiat">Cloud</option>
	    <option value="audi">AI</option>
  	</select><br>
  	<button type="button">Hit me!</button>
  	<p>Question:</p>
  	<textarea name="question" rows="10" cols="60">Enter the new question here.</textarea>
  	<br>
  	<button type="button">See Answer</button><br>
  	<p>Answer:</p>
  	<textarea name="answer" rows="10" cols="60">Enter the answer here.</textarea><br>
  	<p>Result:</p>
  	<input type="radio" name="result" value="correct" checked>Correct<br>
  	<input type="radio" name="result" value="incorrect">Incorrect<br>
  	
  	<button type="button">Back</button>
  	<button type="button">Edit</button>
</div>