<div>
  <h3>Warmup</h3>

	<!-- Choose category section -->
  <h4>Choose category:</h4>
	<ul class="actions">
    <li><button class="button" (click)="openCategories()" [disabled]="isCategNewDisabled()">See categories</button></li>
  </ul>
  <p>Category: <span>/Root/</span></p>
	<button type="button" (click)="showQuestionSection()">Hit me!</button>
  <hr>

  <!-- Question section -->
  <div *ngIf="showQuestion">
  	<h4>Question:</h4>
  	<textarea #questionText name="question" rows="6" cols="60" [disabled]="true"></textarea>
  	<br>
  	<button type="button" (click)="showAnswerSection()">See Answer</button><br>
    <hr>
  </div>
  <!-- Answer section -->
  <div *ngIf="showAnswer">
  	<h4>Answer:</h4>
  	<textarea #ansSingleText name="answer" rows="6" cols="60" [disabled]="true"></textarea><br>
  	<p>Your guess was:</p>
    <div class="4u 12u$(small)">
      <input #correct id="correct" type="radio" name="result" checked="">
      <label for="correct">Correct?</label>
      <input #incorrect id="incorrect" type="radio" name="result">
      <label for="incorrect">Incorrect?</label>
    </div>
  	<hr>
  </div>

  <ul class="actions">
    <li><button type="button" class="button default" (click)="goBack()">Cancel</button></li>
    <li><button type="button" class="button default" >Edit</button></li>
    <li><button type="button" class="button special">Save</button></li>
  </ul>

</div>